<button class="save-button" type="submit" name="add to wishlist">
  <img class="product-save-image" src="/assets/images/black-save-icon.svg" alt="save {{ product.name }} to wishlist" width="26" height="26">
</button>
