{% include 'partials/head.liquid' %}

<h1 class="wishlist-header">Wishlist</h1>

{% include 'partials/ribbon.liquid' %}

<section class="gifts-overview">
  <h2 class="display-none">Gifts</h2>
  {% for likedProduct in likedProducts reversed %}
    {% assign product = likedProduct.milledoni_products_id %}
    <article class="gift">
      <form method="post" action="/">
        {% include 'partials/saved-button.liquid' %}
      </form>
      <a href="/gift/{{ product.slug }}">
        <img class="product-image" src="{{ product.image }}" alt="">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">€{{ product.amount }}</p>
      </a>
    </article>
  {% endfor %}
</section>

{% include 'partials/foot.liquid' %}
